<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.gof.promesse">

<!--    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="com.android.permission.WRITE_SECURE_SETTINGS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Promesse">

        <activity android:name=".PromiseManagerActivity" android:theme="@style/Theme.SliderActivity" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity"  android:theme="@style/Theme.SliderActivity">

            <intent-filter>

                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ChooseMascotActivity" >

            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:theme="@style/Theme.SliderActivity">
            <intent-filter>

                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" android:windowSoftInputMode="adjustResize" >
            <intent-filter>

                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SigninActivity" android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
<!--        <service android:name=".services.Notifications"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE"-->
<!--            android:process=":jobServiceThread"/>-->
        <activity android:name=".CalendarActivity" android:windowSoftInputMode="adjustResize"  android:theme="@style/Theme.SliderActivity">
            <intent-filter>
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <receiver android:name=".services.NotificationReceiver"/>

    </application>

</manifest>